
@media all and (max-width: 1100px) {
    .snow1 {
      offset-path: path("M2.17808 0.619186C6.31934 8.99941 16.6133 24.852 24.6591 21.2205C42.703 12.8403 -5.21697 29.6008 2.17808 42.5203C9.57314 55.4398 24.6591 43.2186 24.6591 51.5988C24.6591 59.9791 2.17808 59.6299 2.17808 68.3593C2.17808 77.0887 29.6878 75.692 24.6591 87.564");
      animation: snowfalling 5s linear infinite;
    }
    .snow2 {
      offset-path: path("M2.17808 0.619186C6.31934 8.99941 16.6133 24.852 24.6591 21.2205C42.703 12.8403 -5.21697 29.6008 2.17808 42.5203C9.57314 55.4398 24.6591 43.2186 24.6591 51.5988C24.6591 59.9791 2.17808 59.6299 2.17808 68.3593C2.17808 77.0887 29.6878 75.692 24.6591 87.564");
      animation: snowfalling 5s 2.5s linear infinite;
    }
    .snow3 {
      offset-path: path("M2.17808 0.619186C6.31934 8.99941 16.6133 24.852 24.6591 21.2205C42.703 12.8403 -5.21697 29.6008 2.17808 42.5203C9.57314 55.4398 24.6591 43.2186 24.6591 51.5988C24.6591 59.9791 2.17808 59.6299 2.17808 68.3593C2.17808 77.0887 29.6878 75.692 24.6591 87.564");
      animation: snowfalling 5s 0s linear infinite;
    }
    .snow4 {
      offset-path: path("M2.17808 0.619186C6.31934 8.99941 16.6133 24.852 24.6591 21.2205C42.703 12.8403 -5.21697 29.6008 2.17808 42.5203C9.57314 55.4398 24.6591 43.2186 24.6591 51.5988C24.6591 59.9791 2.17808 59.6299 2.17808 68.3593C2.17808 77.0887 29.6878 75.692 24.6591 87.564");
      animation: snowfalling 5s 2.5s linear infinite;
    }
    .snow5 {
      offset-path: path("M2.17808 0.619186C6.31934 8.99941 16.6133 24.852 24.6591 21.2205C42.703 12.8403 -5.21697 29.6008 2.17808 42.5203C9.57314 55.4398 24.6591 43.2186 24.6591 51.5988C24.6591 59.9791 2.17808 59.6299 2.17808 68.3593C2.17808 77.0887 29.6878 75.692 24.6591 87.564");
      animation: snowfalling 5s 0s linear infinite;
    }
  }
  @media all and (max-width: 430px) {
      .snow1 {
        offset-path: path("M1.12421 0.708435C2.51003 5.68402 5.95476 15.0962 8.64718 12.9401C14.6853 7.96448 -1.35044 17.9157 1.12421 25.5864C3.59887 33.2571 8.64718 26.001 8.64718 30.9766C8.64718 35.9522 1.12421 35.7449 1.12421 40.9278C1.12421 46.1107 10.33 45.2814 8.64718 52.3302");
        animation: snowfalling 4s linear infinite;
      }
      .snow2 {
        offset-path: path("M1.12421 0.708435C2.51003 5.68402 5.95476 15.0962 8.64718 12.9401C14.6853 7.96448 -1.35044 17.9157 1.12421 25.5864C3.59887 33.2571 8.64718 26.001 8.64718 30.9766C8.64718 35.9522 1.12421 35.7449 1.12421 40.9278C1.12421 46.1107 10.33 45.2814 8.64718 52.3302");
        animation: snowfalling 4s 2s linear infinite;
      }
      .snow3 {
        offset-path: path("M1.12421 0.708435C2.51003 5.68402 5.95476 15.0962 8.64718 12.9401C14.6853 7.96448 -1.35044 17.9157 1.12421 25.5864C3.59887 33.2571 8.64718 26.001 8.64718 30.9766C8.64718 35.9522 1.12421 35.7449 1.12421 40.9278C1.12421 46.1107 10.33 45.2814 8.64718 52.3302");
        animation: snowfalling 4s linear infinite;
      }
      .snow4 {
        offset-path: path("M1.12421 0.708435C2.51003 5.68402 5.95476 15.0962 8.64718 12.9401C14.6853 7.96448 -1.35044 17.9157 1.12421 25.5864C3.59887 33.2571 8.64718 26.001 8.64718 30.9766C8.64718 35.9522 1.12421 35.7449 1.12421 40.9278C1.12421 46.1107 10.33 45.2814 8.64718 52.3302");
        animation: snowfalling 4s 2s linear infinite;
      }
      .snow5 {
        offset-path: path("M1.12421 0.708435C2.51003 5.68402 5.95476 15.0962 8.64718 12.9401C14.6853 7.96448 -1.35044 17.9157 1.12421 25.5864C3.59887 33.2571 8.64718 26.001 8.64718 30.9766C8.64718 35.9522 1.12421 35.7449 1.12421 40.9278C1.12421 46.1107 10.33 45.2814 8.64718 52.3302");
        animation: snowfalling 4s linear infinite;
      }
    }
    @media (min-width: 1900px)  {
     .container {
       max-width: none;
     }
   }
